[submodule "HIT-HRadar-FE"]
	path = HIT-HRadar-FE
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-FE.git
	branch = main
[submodule "HIT-HRadar-Infra"]
	path = HIT-HRadar-Infra
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Infra.git
	branch = main
[submodule "HIT-HRadar-Core"]
	path = HIT-HRadar-Core
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Core.git
	branch = main
[submodule "HIT-HRadar-Gateway"]
	path = HIT-HRadar-Gateway
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Gateway.git
	branch = main
[submodule "HIT-HRadar-Chatbot"]
	path = HIT-HRadar-Chatbot
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Chatbot.git
	branch = main
[submodule "HIT-HRadar-Notification"]
	path = HIT-HRadar-Notification
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Notification.git
	branch = main
[submodule "HIT-HRadar-Auth"]
	path = HIT-HRadar-Auth
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Auth.git
	branch = main
